@font-family-base: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

@blue-dark: #2E3A5A;
@blue: #475577;
@orange: #F37934;

@brand-primary: @orange;

// Typography
@font-size-h1: floor((@font-size-base * 2.15));
@font-size-h3: ceil((@font-size-base * 1.25));

// Basics of a navbar
@navbar-default-bg:     @blue-dark;
@navbar-default-border: 0px none;
@navbar-border-radius:  0px;

// Navbar links
@navbar-height:                   40px;
@navbar-padding-vertical:         10px;
@navbar-default-link-color:       @gray-lighter;
@navbar-default-link-hover-color: #fff;
@navbar-default-link-hover-bg:    darken(@blue-dark, 5%);
