{% extends '_recommendation_layout.html' %}
{% load i18n %}
{% block table_content %}
    <td class="col-md-1">
        <a href="{% url 'game_detail' similar.game_id %}">
            <img class="img-responsive" src="{% if similar.game_thumb_url %}{{ similar.game_thumb_url }}{% endif %}">
        </a>
    </td>

    <td class="col-md-11">
        <p><a href="{% url 'game_detail' similar.game_id %}">{{ similar.game_title }}</a>
        </p>
        <p>{% trans 'By' %} <a href="{% url 'user_profile' user_profile.username %}">{{ user_profile.username }}</a>
        </p>
        <p><a href="{% url 'game_recommendation_by_user' user_profile.username %}">{% trans 'View other recommendations by this user' %}</a>
        </p>
    </td>
{% endblock %}