{% load i18n qhonuskan_votes static %} {% load url from future %}
<section>
    <table class="table table-no-borders">
        <tr>
            {% block table_content %}
            {% endblock %}
        </tr>
    </table>
    {{ obj.text|linebreaks }} {% if user_profile == user %}
    <div class="text-right">
        <a href="{% url 'recommendation_update' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
        <a href="{% url 'recommendation_delete' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Delete' %}</a>
    </div>
    {% else %} {% vote_buttons_for obj %} {% endif %} {% if not forloop.last %}
    <hr />{% endif %}
</section>