{% load i18n %} {% load url from future %} {% load i18n qhonuskan_votes staticfiles user_tags %} {% url 'home' as home_url %} {% with user_profile=obj.entry.user entry=obj.entry %}
<section>
    <table class="table table-no-borders">
        <tr>
            {% block table_content %}
            {% endblock %}

            <td class="text-right col-md-6">
                <p>
                    {% blocktrans with status=obj.entry.get_status_display %} Status: {{ status }} {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans with score=obj.entry.score %} Given score: {{ score }} {% endblocktrans %}
                </p>
            </td>
        </tr>
    </table>
    {{ obj.text|linebreaks }} {% if user_profile == user %}
    <div class="text-right">
        <a href="{% url 'review_update' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
        <a href="{% url 'review_delete' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Delete' %}</a>
    </div>
    {% else %} {% vote_buttons_for obj %} {% endif %} {% if not forloop.last %}
    <hr />{% endif %}
</section>
{% endwith %}
