{% load i18n %} {% load url from future %} {% load i18n qhonuskan_votes staticfiles user_tags %} {% url 'home' as home_url %} {% with user_profile=obj.entry.user entry=obj.entry %}
<section>
    <table class="table table-no-borders">
        <tr>
            {% if game %}

            <td class="col-md-1">
                <a href="{% url 'user_profile' user_profile.username %}">
                    <img class="img-responsive" src="{% avatar_or_default user_profile %}">
                </a>
            </td>

            <td class="col-md-5">
                <p>{% trans 'By' %} <a href="{% url 'user_profile' user_profile.username %}">{{ user_profile.username }}</a>
                </p>
                <p><a href="{% url 'game_review_by_user' user_profile.username %}">{% trans 'View other reviews by this user' %}</a>
                </p>
            </td>

            {% else %}

            <td class="col-md-1">
                <a href="{% url 'game_detail' entry.game_id %}">
                    <img class="img-responsive" src="{% if entry.game_thumb_url %}{{ entry.game_thumb_url }}{% endif %}">
                </a>
            </td>
            <td class="col-md-5">
                <p><a href="{% url 'game_detail' entry.game_id %}">{{ entry.game_title }}</a>
                </p>
                {% if request.get_full_path == home_url %}
                <p>{% trans 'By' %} <a href="{{ user_profile.profile.get_absolute_url }}">{{ user_profile.username }}</a>
                </p>
                {% else %}
                <p><a href="{% url 'game_review_by_game' entry.game_id %}">{% trans 'View other reviews for this game' %}</a>
                </p>
                {% endif %}
            </td>

            {% endif %}

            <td class="text-right col-md-6">
                <p>
                    {% blocktrans with status=obj.entry.get_status_display %} Status: {{ status }} {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans with score=obj.entry.score %} Given score: {{ score }} {% endblocktrans %}
                </p>
            </td>
        </tr>
    </table>
    {{ obj.text|linebreaks }} {% if user_profile == user %}
    <div class="text-right">
        <a href="{% url 'review_update' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
        <a href="{% url 'review_delete' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Delete' %}</a>
    </div>
    {% else %} {% vote_buttons_for obj %} {% endif %} {% if not forloop.last %}
    <hr />{% endif %}
</section>
{% endwith %}
