{% load i18n custom_tags %}

{% get_game obj.entry.game_id as game %}
<section>
  <table class="table table-no-borders">
    <tr>
      <td class="col-md-1">
        <a href="{% url 'game_detail' game.id %}">
          <img class="img-responsive" src="{{ game.thumb_url }}">
        </a>
      </td>
      <td class="col-md-5">
        <p><a href="{% url 'game_detail' game.id %}">{{ game.title }}</a></p>
        <p><a href="{% url 'game_review_by_game' game.id %}">{% trans 'View other reviews for this game' %}</a></p>
      </td>
      <td class="text-right col-md-6">
        <p>
          {% blocktrans with status=obj.entry.get_status_display %}
            Status: {{ status }}
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans with score=obj.entry.score %}
            Given score: {{ score }}
          {% endblocktrans %}
        </p>
      </td>
    </tr>
  </table>
  {{ obj.text|linebreaks }}
  {% if not forloop.last %}<hr />{% endif %}
</section>