{% extends 'app/_review_layout.html' %}
{% load i18n %}
{% block table_content %}
    {% with user_profile=obj.entry.user entry=obj.entry %}
        <td class="col-md-1">
            <a href="{% url 'game_detail' entry.game.gamesdb_id %}">
                <img class="img-responsive" src="{% if entry.game.thumb_url %}{{ entry.game.thumb_url }}{% endif %}">
            </a>
        </td>
        <td class="col-md-5">
            <p><a href="{% url 'game_detail' entry.game.gamesdb_id %}">{{ entry.game.title }}</a>
            </p>
            {% if request.get_full_path == home_url %}
                <p>{% trans 'By' %} <a
                        href="{% url 'users:detail' user_profile.username %}">{{ user_profile.username }}</a>
                </p>
            {% else %}
                <p>
                    <a href="{% url 'game_review_by_game' entry.game.gamesdb_id %}">{% trans 'View other reviews for this game' %}</a>
                </p>
            {% endif %}
        </td>
    {% endwith %}
{% endblock %}