{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block page_header %}
	{% if not form.instance.id %}
		{% blocktrans with game_title=game.title %}
			Write recommendation for {{ game_title }}
		{% endblocktrans %}
	{% else %}
		{% blocktrans with game1=object.entries.all.0.game.title game2=object.entries.all.1.game.title %}
			Edit recommendation for {{ game1 }} and {{ game2 }}
		{% endblocktrans %}
	{% endif %}
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          {% crispy form %}
        </div>
      </div>
    </div>

</div>
<!-- /.row -->

{% endblock %}