{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block page_header %}{% trans 'Delete recommendation'%}{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-12">

    <form action="" method="POST">{% csrf_token %}
      <p>{% trans 'Are you sure you want to delete this recommendation?' %}</p>
      <input class="btn btn-primary" type="submit" value="{% trans 'Confirm' %}" />
      <a href="" class="btn btn-default">{% trans 'Cancel' %}</a>
    </form>
  </div>

</div>

{% endblock %}