{% extends 'game_detail.html' %}
{% load i18n %}

{% block page_header %}
  {% blocktrans with title=game.title %}
    Recommendations for {{ title }}
  {% endblocktrans %}
{% endblock %}

{% block game_content %}
  {% for obj in object_list %}

    {% if obj.entry1.game_id != game.id|add:"0" %}
      {% with similar=obj.entry1 %}
        {% include 'app/_recommendations_in_game.html' %}
      {% endwith %}

    {% elif obj.entry2.game_id != game.id|add:"0" %}

      {% with similar=obj.entry2 %}
        {% include 'app/_recommendations_in_game.html' %}
      {% endwith %}

    {% endif %}
    
    {% if not forloop.last %}<hr />{% endif %}
    
  {% empty %}
        <p>{% trans 'There are no recommendations for this game yet.' %}</p>
  {% endfor %}
{% endblock %}