{% extends 'game_detail.html' %}
{% load i18n staticfiles %}

{% block page_header %}
  {% blocktrans with title=game.title %}
    Reviews for {{ title }}
  {% endblocktrans %}
{% endblock %}

{% block game_content %}
  {% for obj in object_list %}
    {% with user_profile=obj.entry.user %}
    <section>
      <table class="table table-no-borders">
        <tr>
          <td class="col-md-1">
            <a href="{% url 'user_profile' user_profile.username %}">
              <img class="img-responsive" src="{% if user_profile.userprofile.avatar %}{{ user_profile.userprofile.avatar.url }}{% else %}{% static 'img/default.png' %}{% endif %}">
            </a>
          </td>
          <td class="col-md-5">
            <p>{% trans 'By' %} <a href="{% url 'user_profile' user_profile.username %}">{{ user_profile.username }}</a></p>
            <p><a href="{% url 'game_review_by_user' user_profile.username %}">{% trans 'View other reviews by this user' %}</a></p>
          </td>
          <td class="text-right col-md-6">
            <p>
              {% blocktrans with status=obj.entry.get_status_display %}
                Status: {{ status }}
              {% endblocktrans %}
            </p>
            <p>
              {% blocktrans with score=obj.entry.score %}
                Given score: {{ score }}
              {% endblocktrans %}
            </p>
          </td>
        </tr>
      </table>
      {{ obj.text|linebreaks }}
      <hr />
    </section>
    {% endwith %}

  {% empty %}
    <p>{% trans 'There are no reviews for this game yet.' %}</p>
  {% endfor %}
{% endblock %}