{% extends "account/base.html" %} {% load i18n account crispy_forms_tags %} {% load url from future %} {% block page_header %}{% trans 'Login' %}{% endblock %} {% block content %}

<div class="row">

    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">

            {% comment %}{% if socialaccount.providers %}{% endcomment %}
                <legend>{% trans 'Using a third party account:' %}</legend>

                <div class="socialaccount_ballot">

                    <ul class="socialaccount_providers list-unstyled text-center">
                        <li>
                            <a href="{% url 'social:begin' 'steam' %}">
                                <img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png" alt="{% trans 'Sign in through Steam' %}" />
                            </a>
                        </li>
                        {% comment %}{% include "socialaccount/snippets/provider_list.html" with process="login" %}{% endcomment %}
                    </ul>
                </div>

                {% comment %}{% include "socialaccount/snippets/login_extra.html" %}
                <hr />{% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}{% endcomment %}
                <hr />

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    <legend>{% trans 'Using My Games List account:' %}</legend>
                    {% csrf_token %} {% for field in form %} {{ field|as_crispy_field }} {% endfor %}
                    <div class="form-actions">
                        <input name="job_submit" value="{% trans 'Login' %}" class="btn btn-primary" id="submit-id-job_submit" type="submit">
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
<!-- /.row -->

{% endblock %}
