{% extends "socialaccount/base.html" %} {% load url from future %} {% load i18n crispy_forms_tags %} {% block page_header %}{% trans 'Signup' %}{% endblock %} {% block content %}

<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %} {% for field in form %} {{ field|as_crispy_field }} {% endfor %}
                    <div class="form-actions">
                        <input name="submit" value="{% trans 'Sign up' %}" class="btn btn-primary" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
