{% extends 'base.html' %}
{% load i18n %}

{% block page_header %}{{ object }}{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">
        <img class="img-responsive" src="{{ object.cover_img.url }}" alt="">
        {% if not object_in_user_list %}
        <a href="#" class="btn btn-default btn-block">{% trans 'Add to my list' %}</a>
        {% else %}
        <p>This game is in your list.</p>
        {% endif %}
    </div>

    <div class="col-md-9">
      <section>
        <h3 class="section-title">{% trans 'Synopsis' %}</h3>
        <p>{{ object.synopsis }}</p>
        <hr />
      </section>
      
      <section>
        <h3 class="section-title">{% trans 'Reviews' %}</h3>
          {% for r in reviews %}
            <p>{{ r.text|linebreaks }}</p>
          {% empty %}
            <p>{% trans 'There are no reviews for this game yet.' %}</p>
          {% endfor %}
        <hr />
      </section>

      <section>
        <h3 class="section-title">{% trans 'Recommendations' %}</h3>
          {% for r in recommendations %}
            <p>{{ r.text|linebreaks }}</p>
          {% empty %}
            <p>{% trans 'There are no recommendations for this game yet.' %}</p>
          {% endfor %}
        <hr />
      </section>
    </div>

</div>
<!-- /.row -->

<hr>

{% endblock %}