{% extends 'base.html' %}
{% load i18n staticfiles user_tags %}
{% load url from future %}

{% block page_header %}{{ game.title }}{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-3">
      <img class="img-responsive" src="{% if game.thumb_url %}{{ game.thumb_url }}{% endif %}" alt="">
      <table class="table table-no-borders">
        <tr>
          <td class="text-right col-md-6">{% trans 'Genre' %}</td>
          <td class="col-md-6">
            {% for g in game.genres %}
                {{ g.text }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td class="text-right">{% trans 'Platform' %}</td>
          <td>
            {{ game.platform }}
          </td>
        </tr>
        <tr>
          <td class="text-right">{% trans 'Developer' %}</td>
          <td>
            {{ game.developer }}
          </td>
        </tr>
        <tr>
          <td class="text-right">{% trans 'Publisher' %}</td>
          <td>
            {{ game.publisher }}
          </td>
        </tr>
        <tr>
          <td class="text-right">{% trans 'Release date' %}</td>
          <td>{{ game.release_date }}</td>
        </tr>
      </table>
      {% user_game_entry user game.id as entry %}
      {% if not entry %}
      <a href="{% url 'entry_create' game.id %}" class="btn btn-default btn-block">{% trans 'Add to my list' %}</a>
      {% else %}
        {% if not entry.gamereview %}
          <a href="{% url 'review_create' game.id %}" class="btn btn-default btn-block">{% trans 'Write review' %}</a>
        {% else %}
          <a href="{% url 'review_update' entry.gamereview.pk %}" class="btn btn-default btn-block">{% trans 'Edit my review' %}</a>
        {% endif %}
        <a href="{% url 'recommendation_create' entry.game_id %}" class="btn btn-default btn-block">{% trans 'Make a recommendation' %}</a>
      {% endif %}
  </div>

  <div class="col-md-9">
    <ul class="nav nav-pills">
      <li {% if detail_page %}class="active"{% endif %}><a href="{% url 'game_detail' game.id %}">{% trans 'Details' %}</a></li>
      <li {% if reviews_page %}class="active"{% endif %}><a href="{% url 'game_review_by_game' game.id %}">{% trans 'Reviews' %}</a></li>
      <li {% if recommendations_page %}class="active"{% endif %}><a href="{% url 'game_recommendation_by_game' game.id %}">{% trans 'Recommendations' %}</a></li>
    </ul>
    {% block game_content %}
      <section>
        <h3 class="section-title">{% trans 'Overview' %}</h3>
        <p>{{ game.overview }}</p>
        <hr />
      </section>
      
      <section>
        <h3 class="section-title">{% trans 'Latest reviews' %}</h3>
          {% for obj in reviews %}
            {% include "app/_review_layout.html" %}
          {% empty %}
            <p>{% trans 'There are no reviews for this game yet.' %}</p>
          {% endfor %}
        <hr />
      </section>

      <section>
        <h3 class="section-title">{% trans 'Latest recommendations' %}</h3>
          {% for obj in recommendations %}

            {% if obj.entry1.game_id != game.id|add:"0" %}
              {% with similar=obj.entry1 %}
                {% include 'app/_recommendation_layout.html' %}
              {% endwith %}

            {% elif obj.entry2.game_id != game.id|add:"0" %}

              {% with similar=obj.entry2 %}
                {% include 'app/_recommendation_layout.html' %}
              {% endwith %}

            {% endif %}
            
            {% if not forloop.last %}<hr />{% endif %}
            
          {% empty %}
                <p>{% trans 'There are no recommendations for this game yet.' %}</p>
          {% endfor %}
      </section>
    {% endblock %}
  </div>
</div>
<!-- /.row -->

{% endblock %}