{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block page_header %}
  {% blocktrans with username=user_profile.username %}
    {{ username }}'s games list
  {% endblocktrans %}
{% endblock %}

{% block content %}

{% regroup object_list by get_status_display as status_list %}

<div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group text-center" id="catpicker">
        <a href="#" id="allcat" class="current btn btn-primary">{% trans 'All' %}</a>
        {% for e in status_list %}
          <a href="#" id="{{ e.grouper }}" class="filter btn btn-primary">{{ e.grouper }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-12">

      {% for e in status_list %}
        <section class="discounted-item {{ e.grouper }}">
          <h3 class="section-title">{{ e.grouper }}</h3>
          <table class="table">
            <tr>
              <th class="col-md-4">{% trans 'Game title' %}</th>
              <th class="col-md-4">{% trans 'Replay value' %}</th>
              <th class="col-md-4">{% trans 'Score' %}</th>
            </tr>
          {% for entry in e.list %}
            <tr>
              <td><a href="{{ entry.game.get_absolute_url }}">{{ entry.game.title }}</a></td>
              <td>{{ entry.get_replay_value_display }}</td>
              <td>{{ entry.score }}</td>
            </tr>
          {% endfor %}
          </table>
        </section>
      {% endfor %}

    </div>

</div>
<!-- /.row -->

{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/filter.js' %}"></script>
{% endblock %}