{% extends 'base.html' %}
{% load i18n %}

{% block page_header %}{% trans 'Recent activity' %}{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-8">
    <section>
      <h3 class="section-title">{% trans 'Latest reviews' %}</h3>
      {% for obj in reviews %}
        {% with game=obj.entry.game %}
          {% include 'app/_review_layout.html' %}
        {% endwith %}
      {% empty %}
        <p>{% trans 'There are no reviews for this game yet.' %}</p>
      {% endfor %}
      <hr />
    </section>

    <section>
      <h3 class="section-title">{% trans 'Latest recommendations' %}</h3>
      {% for obj in recommendations %}
        {% include 'app/_recommendation_layout.html' %}
      {% endfor %}
    </section>
  </div><!-- /.col -->

  <div class="col-md-4">
    <h3 class="text-center">{% trans 'Top games this week' %}</h3>
    <img src="http://placehold.it/350x400" />
  </div>
</div>
<!-- /.row -->

{% endblock %}