{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block page_header %}
  {% blocktrans with username=object.username %}
    {{ username }}'s profile
  {% endblocktrans %}
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">
        <img class="img-responsive" src="{% if object.userprofile.avatar %}{{ object.userprofile.avatar.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="">
        <table class="table table-no-borders">
          <tr>
            <td class="text-right">{% trans 'Joined' %}</td>
            <td>{{ object.date_joined|date:"N d, Y" }}</td>
          </tr>
          <tr>
            <td class="text-right">{% trans 'Last seen' %}</td>
            <td>{{ object.last_login|date:"N d, Y" }}</td>
          </tr>
          <tr>
            <td class="text-right">{% trans 'Gender' %}</td>
            <td>{{ object.userprofile.get_gender_display }}</td>
          </tr>
          <tr>
            <td class="text-right">{% trans 'Country' %}</td>
            <td>{{ object.userprofile.get_country_display }}</td>
          </tr>
        </table>
    </div>

    <div class="col-md-9">
      <ul class="nav nav-pills">
        <li {% if detail_page %}class="active"{% endif %}><a href="{% url 'user_profile' object.username %}">{% trans 'Details' %}</a></li>
        <li {% if reviews_page %}class="active"{% endif %}><a href="{% url 'game_review_by_user' object.username %}">{% trans 'Reviews' %}</a></li>
        <li {% if recommendations_page %}class="active"{% endif %}><a href="{% url 'game_recommendation_by_user' object.username %}">{% trans 'Recommendations' %}</a></li>
      </ul>

      {% block user_profile_content %}
        <section>
          <h3>{% trans 'Last list updates' %}</h3>
          <p>{{ object.synopsis }}</p>
          <hr />
        </section>

        <section>
          <h3>{% trans 'Reviews' %}</h3>
            {% for obj in reviews %}
              {% include 'app/_reviews_in_user.html' %}
            {% empty %}
              <p>{% trans "This user hasn't written any reviews yet." %}</p>
            {% endfor %}
            <hr />
        </section>
        
        <section>
          <h3>{% trans 'Recommendations' %}</h3>
          {% for obj in recommendations %}
            {% include 'app/_recommendation_layout.html' %}
          {% empty %}
            <p>{% trans "This user hasn't made any recommendations yet." %}</p>
          {% endfor %}
          {% if not forloop.last %}<hr />{% endif %}
        </section>

        <section>
          <h3>{% blocktrans with username=object.username %}About {{ username }}{% endblocktrans %}</h3>
          {{ object.profile.about|safe }}
        </section>
      {% endblock %}
    </div>

</div>
<!-- /.row -->

{% endblock %}