{% extends 'base.html' %}
{% load i18n %}

{% block page_header %}
  {% blocktrans with username=object.username %}
    {{ username }}'s profile
  {% endblocktrans %}
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">
        <img class="img-responsive" src="{{ object.userprofile.avatar.url }}" alt="">
        <table class="table">
          <tr>
            <td>{% trans 'Joined' %}</td>
            <td>{{ object.date_joined|date:"N d, Y" }}</td>
          </tr>
          <tr>
            <td>{% trans 'Last seen' %}</td>
            <td>{{ object.last_login|date:"N d, Y" }}</td>
          </tr>
          <tr>
            <td>{% trans 'Gender' %}</td>
            <td>{{ object.userprofile.get_gender_display }}</td>
          </tr>
          <tr>
            <td>{% trans 'Country' %}</td>
            <td>{{ object.userprofile.get_country_display }}</td>
          </tr>
        </table>
    </div>

    <div class="col-md-9">
      {% block user_profile_content %}
        <section>
          <h3>{% trans 'Last list updates' %}</h3>
          <p>{{ object.synopsis }}</p>
          <hr />
        </section>

        <section>
          <h3>{% trans 'Reviews' %}</h3>
          {% with reviews=object.gamereview_set.all %}
            {% for r in reviews %}
              <p>{{ r.text|linebreaks }}</p>
            {% empty %}
              <p>{% trans "This user hasn't written any reviews yet." %}</p>
            {% endfor %}
          {% endwith %}
          <hr />
        </section>
        
        <section>
          <h3>{% trans 'Recommendations' %}</h3>
          {% with recommendations=object.gamerecommendation_set.all %}
            {% for r in recommendations %}
              <p>{{ r.text|linebreaks }}</p>
            {% empty %}
              <p>{% trans "This user hasn't written any recommendations yet." %}</p>
            {% endfor %}
          {% endwith %}
          <hr />
        </section>
      {% endblock %}
    </div>

</div>
<!-- /.row -->

{% endblock %}