{% extends 'base.html' %}
{% load i18n %}

{% block page_header %}
  {% blocktrans with username=object.username %}
    {{ username }}'s profile
  {% endblocktrans %}
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">
        <img class="img-responsive" src="{{ object.userprofile.avatar.url }}" alt="">
        <table class="table table-no-borders">
          <tr>
            <td class="text-right">{% trans 'Joined' %}</td>
            <td>{{ object.date_joined|date:"N d, Y" }}</td>
          </tr>
          <tr>
            <td class="text-right">{% trans 'Last seen' %}</td>
            <td>{{ object.last_login|date:"N d, Y" }}</td>
          </tr>
          <tr>
            <td class="text-right">{% trans 'Gender' %}</td>
            <td>{{ object.userprofile.get_gender_display }}</td>
          </tr>
          <tr>
            <td class="text-right">{% trans 'Country' %}</td>
            <td>{{ object.userprofile.get_country_display }}</td>
          </tr>
        </table>
    </div>

    <div class="col-md-9">
      <ul class="nav nav-pills">
        <li {% if detail_page %}class="active"{% endif %}><a href="{{ object.userprofile.get_absolute_url }}">{% trans 'Details' %}</a></li>
        <li {% if reviews_page %}class="active"{% endif %}><a href="{% url 'game_review_by_user' object.username %}">{% trans 'Reviews' %}</a></li>
        <li {% if recommendations_page %}class="active"{% endif %}><a href="{% url 'game_recommendation_by_user' object.username %}">{% trans 'Recommendations' %}</a></li>
      </ul>

      {% block user_profile_content %}
        <section>
          <h3>{% trans 'Last list updates' %}</h3>
          <p>{{ object.synopsis }}</p>
          <hr />
        </section>

        <section>
          <h3>{% trans 'Reviews' %}</h3>
            {% for obj in reviews %}
              {% with game=obj.entry.game %}
              <section>
                <table class="table table-no-borders">
                  <tr>
                    <td class="col-md-1">
                      <a href="{{ game.get_absolute_url }}">
                        <img class="img-responsive" src="{{ game.cover_img.url }}">
                      </a>
                    </td>
                    <td class="col-md-5">
                      <p><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></p>
                      <p><a href="{% url 'game_review_by_game' game.pk %}">{% trans 'View other reviews for this game' %}</a></p>
                    </td>
                    <td class="text-right col-md-6">
                      <p>
                        {% blocktrans with status=obj.entry.get_status_display %}
                          Status: {{ status }}
                        {% endblocktrans %}
                      </p>
                      <p>
                        {% blocktrans with score=obj.entry.score %}
                          Given score: {{ score }}
                        {% endblocktrans %}
                      </p>
                    </td>
                  </tr>
                </table>
                {{ obj.text|linebreaks }}
                {% if not forloop.last %}<hr />{% endif %}
              </section>
              {% endwith %}
            {% endfor %}
            <hr />
        </section>
        
        <section>
          <h3>{% trans 'Recommendations' %}</h3>
          {% for obj in recommendations %}
            {% with game1=obj.entries.all.0.game game2=obj.entries.all.1.game %}
              <section>
                <table class="table table-no-borders">
                  <tr>
                    <td class="col-md-1">
                      <a href="{{ game1.get_absolute_url }}">
                        <img class="img-responsive" src="{{ game1.cover_img.url }}">
                      </a>
                    </td>
                    <td class="col-md-5">
                      <p>{% trans 'If you liked' %}</p>
                      <p><a href="{{ game1.get_absolute_url }}">{{ game1.title }}</a></p>
                    </td>
                    <td class="text-right col-md-5">
                      <p>{% trans '... then you might like' %}</p>
                      <p><a href="{{ game2.get_absolute_url }}">{{ game2.title }}</a></p>
                    </td>
                    <td class="col-md-1">
                      <a href="{{ game2.get_absolute_url }}">
                        <img class="img-responsive" src="{{ game2.cover_img.url }}">
                      </a>
                    </td>
                  </tr>
                </table>
                {{ obj.text|linebreaks }}
                <hr />
              </section>
            {% endwith %}
          {% endfor %}
          {% if not forloop.last %}<hr />{% endif %}
        </section>
      {% endblock %}
    </div>

</div>
<!-- /.row -->

{% endblock %}